*.pyc
.cache
*.log
.pylife-py*
build
.pytest_cache
__pycache__
_venv*
.venv*
.python-version
.spyproject
*.so
*.pyd
.eggs
pylife.egg-info
.ipynb_checkpoints
__pycache__
coverage_report*
.coverage
junit.xml

src/pip-delete-this-directory.txt
.vscode/settings.json

doc/source/demos/*ipynb
doc/source/demos/*.py
doc/source/demos/*.h5
doc/source/demos/*csv
doc/source/demos/*.vmap
doc/source/demos/pic
/doc/source/demos/data/
.idea/
prof/
log.txt
demos/test.vmap
tests/vmap/testfiles/Job-Zugprobe_3D_V5.vmap
tests/vmap/testfiles/Job-Zugprobe_3D_V5_element_nodal.vmap
tests/vmap/testfiles/Job-Zugprobe_3D_V5_extrapolatedS.vmap
tests/vmap/testfiles/Parking_Data1_WSG.vmap
tests/vmap/testfiles/Parking_Data1_WSG_element_nodal.vmap
tests/vmap/testfiles/plate_with_hole.vmap
