*.pyc
.cache
*.log
.pylife-py*
build
.pytest_cache
__pycache__
_venv*
.venv*
.python-version
.spyproject
*.so
*.pyd
.eggs
pylife.egg-info
.ipynb_checkpoints
__pycache__
.mutmut-cache
htmlcov
.mypy_cache
coverage_report*
.coverage
junit.xml

src/pip-delete-this-directory.txt
.vscode/settings.json

doc/source/demos/*ipynb
doc/source/demos/*.py
doc/source/demos/*.h5
doc/source/demos/*csv
doc/source/demos/*.vmap
doc/source/demos/pic
/doc/source/demos/data/
.idea*
prof/*
