numpy
pytest
scipy
pandas
cython
mystic
pymc3
jupyter
matplotlib
sphinx
m2r2
myst_parser
nbsphinx
nbsphinx-link
jupyter_sphinx
ipykernel
pyvista
itkwidgets
panel
ipyvtklink
ipygany
xvfbwrapper
plotly
