name: Documentation

on:
  pull_request:
  push:
    branches:
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MPLBACKEND: svg
      PYDEVD_DISABLE_FILE_VALIDATION: 1
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools setuptools_scm wheel
        pip install -e .[all,docs]
        pip install -e ./tools/odbclient
        sudo apt-get install pandoc
    - name: Build docs
      run: sphinx-build -b html docs _build/html
