name: Build and upload to PyPI

on:
  workflow_dispatch:
  release:
    types: [published]

  push:
    branches: [ci-debug]


jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.21.1
        env:
          CIBW_BUILD: cp39-* cp310-* cp311-* cp312-* cp313-*
          CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014

      - uses: actions/upload-artifact@v4
        with:
            name: artifact-wheel-${{ matrix.os }}
            path: ./wheelhouse/*.whl


  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: '3.12'

      - name: Install setuptools
        run: |
          pip install -U setuptools setuptools_scm wheel build
      - name: Build sdist
        run: python -m build . --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: artifact-sdist
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: artifact-sdist
          path: dist

      - uses: actions/download-artifact@v4
        with:
          name: artifact-wheel-windows-latest
          path: dist

      - uses: actions/download-artifact@v4
        with:
          name: artifact-wheel-ubuntu-latest
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.9.0
        with:
          user: __token__
          password: ${{ secrets.upload_pypi }}
          # password: ${{ secrets.test_pypi }}
          # repository_url: https://test.pypi.org/legacy/
