name: Build odbserver and upload to PyPI

on:
  workflow_dispatch:
  release:
    types: [published]

defaults:
  run:
    working-directory: tools/odbserver

jobs:
  build_wheels:
    name: Build wheels
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: '3.12'

      - name: Install setuptools
        run: |
          pip install -U setuptools setuptools_scm wheel
      - name: Build wheels
        run: |
          python setup.py bdist_wheel
      - uses: actions/upload-artifact@v4
        with:
          name: artifact-wheel
          path: tools/odbserver/dist/*.whl


  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: '3.12'

      - name: Install setuptools
        run: |
          pip install -U setuptools setuptools_scm wheel

      - name: Build sdist
        run: python setup.py sdist

      - uses: actions/upload-artifact@v4
        with:
          name: artifact-sdist
          path: tools/odbserver/dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: artifact-sdist
          path: dist

      - uses: actions/download-artifact@v4
        with:
          name: artifact-wheel
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.9.0
        with:
          user: __token__
          password: ${{ secrets.upload_pypi }}
          # password: ${{ secrets.test_pypi }}
          # repository_url: https://test.pypi.org/legacy/
