name: Testsuite

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    env:
      MPLBACKEND: svg
      PYTENSOR_FLAGS: cxx="",exception_verbosity=high
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-latest]
        python-version: ['3.8', '3.9', '3.10']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools setuptools_scm wheel
        pip install flake8 pytest pytest-cov
        pip install -e .[all,testing]
    - name: Unit tests
      run: pytest
    - name: Notebook flow tests
      uses: GabrielBB/xvfb-action@v1
      with:
        run: python -m pytest -m demos
